body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
  color: #3b3c36;
  font-size: 40px;
  font-family: Roboto, sans-serif;
}

.heading {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 10vh;
}


p {
  color: #3b3c36;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}
