
body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
  font-size: 20px;
  color: #3b3c36;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Container */
.container {
  /* Note: To avoid conflicts with Bootstrap's .container, consider renaming to .content-container in both HTML and CSS */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation */
.container.text-center.w-100 {

  height: auto;
  margin-bottom: 20px;
}

.navbar a.btn {
  margin-bottom: 10px;
}


.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #2c3e50;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}


.contact-info p,
.contact-info a {
  font-size: 18px;
}

.contact-info a {
  color: #007bff;
}

.contact-info a:hover {
  text-decoration: underline;
}


.summary p {
  font-size: 18px;
  line-height: 1.8;
}


.skills-certifications ul {
  margin-bottom: 20px;
}

.skills-certifications li {
  font-size: 18px;
  margin-bottom: 5px;
}


.experience {
  margin-bottom: 40px;
}

.job-title {
  font-size: 22px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 5px;
}

.company {
  font-style: italic;
  color: #7f8c8d;
  margin-bottom: 5px;
}

.date {
  color: #95a5a6;
  font-size: 16px;
  margin-bottom: 15px;
}

.experience p,
.experience ul {
  font-size: 18px;
  line-height: 1.6;
}

.experience ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Education */
.education {
  margin-bottom: 40px;
}

.education-title {
  font-size: 20px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 5px;
}

.education p {
  font-size: 18px;
  margin-bottom: 5px;
}

.education .date {
  margin-bottom: 15px;
}

/* Footer (if applicable) */
.footer {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #95a5a6;
}


@media (max-width: 767px) {
  body {
    font-size: 18px;
  }

  h1 {
    height: auto;
    font-size: 24px;
    padding: 20px 0;
  }

  .container {
    padding: 10px;
  }

  .section-title {
    font-size: 24px;
  }

  .job-title {
    font-size: 20px;
  }

  .education-title {
    font-size: 18px;
  }
}


