body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

 h1 {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.container {
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10vh;
}

div {
  align-items: center;
}

p {
  color: #3b3c36;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
